@charset "UTF-8";
article, aside, blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header,input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html{
    overflow-scrolling: touch;
    margin: 0 auto;
    height: 100%;
    background: #f9f2f4;
}

#loading{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1rem;
    margin-top: -2rem;
    animation: loading 2s ease-in-out infinite;
    -webit-animation: loading 2s ease-in-out infinite;
    -moz-animation: loading 2s ease-in-out infinite;
}

#loading i{
    width: .5rem;
    height: .5rem;
    display: block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /*background: #444;*/
    background: radial-gradient(at .25rem .25rem,#444,#000);
    background: -webkit-radial-gradient(.2rem .2rem,#444,#000);
}
#loading i:nth-child(1){
     position: absolute;
     top: 0;
     left: 1rem;
 }
#loading i:nth-child(2){
    position: absolute;
    top: 0.3rem;
    left: 1.7rem;
}
#loading i:nth-child(3){
    position: absolute;
    top: 1em;
    left: 2rem;
}
#loading i:nth-child(4){
    position: absolute;
    top: 1.7rem;
    left: 1.7rem;
}
#loading i:nth-child(5){
    position: absolute;
    top: 2em;
    left: 1rem;
}
#loading i:nth-child(6){
    position: absolute;
    top: 1.7rem;
    left: 0.3rem;
}
#loading i:nth-child(7){
    position: absolute;
    top: 1em;
    left: 0;
}
#loading i:nth-child(8){
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;

}

@keyframes loading {
    50%{transform: rotate(180deg)}
    100%{transform: rotate(360deg)}
}


#gamePage{
    display: none;
}

#title {
    margin: 1rem  auto 0 auto;
    display: table;
    overflow: hidden;
}

#scoreShow{
    width: 100%;
    margin: .5rem  auto 0 auto;
}
#scoreShow:after{
    content: "";
    display: block;
    clear: both;
}

#scoreContent{
    width:8.6rem;
    height: .6rem;
    margin: 0 auto;
}

#scoreCanvas{
    border: .05rem solid #222;
    width: 6rem;
    height: .55rem;
    float: left;
}

#scoreShow p{
    float: left;
    font-size: .5rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

#chessContent{
    position: relative;
}

#promptShow{
    margin: 0 auto;
    display: none;
    height: 8rem;
    position: absolute;
    z-index: 10;
    text-align: center;
    overflow: hidden;
}

#promptRounds{
    line-height: 8rem;
    vertical-align: middle;
    margin: 0 auto;
    -webkit-animation:  promptshows 2s linear;
    -moz-animation:  promptshows 2s linear;
    animation:  promptshows 2s linear;
}

@keyframes promptshows {
    0%{  opacity: 0; transform: scale(1);}
    50%{  opacity: 1; transform: scale(1.4)}
    100%{  opacity: 0; transform: scale(1);}
}
@-webkit-keyframes promptshows {
    0%{  opacity: 0; transform: scale(1);}
    50%{  opacity: 1; transform: scale(1.4)}
    100%{  opacity: 0; transform: scale(1);}
}
@-moz-keyframes promptshows {
     0%{  opacity: 0; transform: scale(1);}
     50%{  opacity: 1; transform: scale(1.4)}
     100%{  opacity: 0; transform: scale(1);}
 }

#promptClick{
    display: none;
    vertical-align: middle;
    width: 3rem;
    height: .6rem;
    margin: -3rem  auto 0 auto;
    font-size: .4rem;
    color: #dddddd;
    border: 2px solid #333;
    background-color:#000000 ;
    -webkit-border-radius: .05rem;
       -moz-border-radius: .05rem;
            border-radius: .05rem;
}

#chess{
    display: table;
    margin: 1rem  auto 0 auto;
    width: 8rem;
    height: 8rem;
    -webkit-box-shadow: -.02rem -.02rem .02rem #ccc, .04rem .04rem .04rem #aaa;
       -moz-box-shadow: -.02rem -.02rem .02rem #ccc, .04rem .04rem .04rem #aaa;
            box-shadow: -.02rem -.02rem .02rem #ccc, .04rem .04rem .04rem #aaa;
}
#chessBall{
    display: block;
    height: 8rem;
    position: absolute;
    float: left;
    left: 50%;
    margin-left:-4rem;
}

#address{
    display: table;
	color: #888;
	font-size: .3rem;
	margin: .7rem auto;
    text-decoration: none;
}
#address:hover{
    color: #222;
}




